@media screen and (min-width : 400px) {
/* two column layout*/
#primary {
	width: 50%
	flaot: left;
}
#secondary {
	width: 40%
	flaot: right;
}

 
/* PAGE: portfolio */

#gallery li {
	width: 28.3333%;
}

#gallery li:nth-child(4n) {
	clear:  left;

}





@media screen and (min-width : 660px) {  
/* two clollum layout */
#primary {
	width: 50%
	float: left;
}	
#secondary {
	width: 40%
	float: right;
}
}

@media screen and (min-width : 660px) {

}